.wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: calc(100 * var(--vh, 1vh));
  overflow-x: hidden;

  &--no-scrollbar {
    height: 100vh;
    height: calc(100 * var(--vh, 1vh));

    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .header,
  .footer {
    flex-shrink: 0;
  }

  main {
    flex-grow: 1;
  }
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;

  clip: rect(0 0 0 0);
}

.scroll-lock {
  position: fixed;

  overflow-y: auto;
}

@keyframes slidetop {
  0% {
    transform: translate(0, -100%);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes logoslideleft {
  0% {
    transform: translate(-100%, 0) rotateY(90deg);
    opacity: 0;
  }

  50% {
    transform: translate(-100%, 0) rotateY(90deg);
    opacity: 0;
  }

  100% {
    transform: translate(0, 0) rotateY(0);
    opacity: 1;
  }
}

@keyframes slideleft {
  0% {
    transform: translate(-100%, 0) rotateY(90deg);
    opacity: 0;
  }

  100% {
    transform: translate(0, 0) rotateY(0);
    opacity: 1;
  }
}

@keyframes introslideleft {
  0% {
    transform: translate(-100%, 0) rotateY(90deg);
  }

  100% {
    transform: translate(0, 0) rotateY(0);
  }
}

@keyframes introslideright {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}

@keyframes dinofadein {
  0% {
    transform: scale(1);
    opacity: 0;
  }

  50% {
    transform: scale(1);
    opacity: 0;
  }

  75% {
    transform: scale(1.5);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes lightsfadein {
  0% {
    transform: translateY(-30px) scale(1);
    opacity: 0;
  }

  60% {
    transform: translateY(-30px) scale(1);
    opacity: 0;
  }

  75% {
    transform: translateY(-40px) scale(1.2);
    opacity: 1;
  }

  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}
